@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MultiPageApp">
<head>
    <title></title>
    <base href="/" />
</head>
<body>

    @DateTime.Now.ToLongTimeString();
    <h1>Main</h1>

    <ng-view></ng-view>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="/ngApps/Multipage/app.js"></script>
    <script src="/ngApps/Multipage/controllers.js"></script>
</body>
</html>

 